<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3><i class="fa fa-map-marker"></i> 联系方式</h3>
        <p class="footer-contact">
          {{ site.company_name }} <br>
          电话: {{ site.telephone_number }} <br>
          <!-- 传真: {{ site.fax_number }} <br> -->
          邮箱: {{ site.company_email }}<br>
          地址: {{ site.address_line }}
        </p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-external-link"></i> 重要链接</h3>
        <p><a href="{{ site.baseurl }}/about"> 公司简介</a></p>
        <p><a href="{{ site.baseurl }}/about"> 服务概要</a></p>
        <p><a href="{{ site.baseurl }}/contact"> 联系方式</a></p>
        <p><a href="{{ site.baseurl }}/news"> 头条新闻</a></p>
        <p><a href="{{ site.baseurl }}/team"> 团队组成</a></p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-heart"></i> 社交平台</h3>
        <div id="social-icons">
          {% if site.googleplus_link %}
            <a href="{{ site.googleplus_link }}" class="btn-group google-plus">
              <i class="fa fa-google-plus"></i>
            </a>
          {% endif %}

          {% if site.linkedin_link %}
            <a href="{{ site.linkedin_link }}" class="btn-group linkedin">
              <i class="fa fa-linkedin-square"></i>
            </a>
          {% endif %}

          {% if site.facebook_link %}
            <a href="{{ site.twitter_link }}" class="btn-group twitter">
              <i class="fa fa-twitter"></i>
            </a>
          {% endif %}

          {% if site.facebook_link %}
            <a href="{{ site.facebook_link }}" class="btn-group facebook">
              <i class="fa fa-facebook"></i>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="copyright text center">
    <p>&copy; Copyright {{ site.time | date: '%Y' }}, <a href="#">Your Website Link</a>. <br>Theme ported by <a href="https://melvinchng.github.io/" target="_blank">Melvin Ch'ng</a></p>
  </div>
</footer>
