<!-- Footer -->
<footer>
  <div class="container" style="padding: 20px;">
    <div class="row">
      <div class="col-md-4">
        <h3>
          <!-- <i class="fa fa-map-marker"></i> -->
          <img src="{{ site.baseurl }}/assets/img/social-icons/phone2.png" style="width: 30px" alt="contact-icon">
          联系方式
        </h3>
        <p class="footer-contact">
          {{ site.company_name }}
        </p>
        <p class="footer-contact">
          <img src="{{ site.baseurl }}/assets/img/social-icons/phone1.png" style="width: 20px; margin-right: 10px;" alt="phone-icon">
          {{ site.telephone_number }}
        </p>
        <!-- 传真: {{ site.fax_number }} </p> -->
        <p class="footer-contact">
          <img src="{{ site.baseurl }}/assets/img/social-icons/email.png" style="width: 20px; margin-right: 10px;" alt="email-icon">
          {{ site.company_email }}
        </p>
        <p class="footer-contact">
          <img src="{{ site.baseurl }}/assets/img/social-icons/location.png" style="width: 20px; margin-right: 10px;" alt="location-icon">
          {{ site.address_line }}
        </p>
      </div>
      <div class="col-md-4">
        <h3>
          <!-- <i class="fa fa-external-link"></i> -->
          <img src="{{ site.baseurl }}/assets/img/social-icons/internet_explorer.png" style="width: 30px" alt="ie-icon">
          重要链接
        </h3>
        <p style="margin-left: 30px;"><a href="{{ site.baseurl }}/about"> 公司简介</a></p>
        <p style="margin-left: 30px;"><a href="{{ site.baseurl }}/services"> 服务概要</a></p>
        <p style="margin-left: 30px;"><a href="{{ site.baseurl }}/contact"> 联系方式</a></p>
        <p style="margin-left: 30px;"><a href="{{ site.baseurl }}/news"> 头条新闻</a></p>
        <p style="margin-left: 30px;"><a href="{{ site.baseurl }}/team"> 团队组成</a></p>
      </div>
      <div class="col-md-4">
        <!-- <h3><i class="fa fa-heart"></i> 微信公众号</h3> -->
        <h3>
          <img src="{{ site.baseurl }}/assets/img/social-icons/wechat_logo.png" style="width: 30px;" alt="wechat-group">
          微信公众号
        </h3>
        <div id="social-icons">
          <!-- {% if site.googleplus_link %}
            <a href="{{ site.googleplus_link }}" class="btn-group google-plus">
              <i class="fa fa-google-plus"></i>
            </a>
          {% endif %}

          {% if site.linkedin_link %}
            <a href="{{ site.linkedin_link }}" class="btn-group linkedin">
              <i class="fa fa-linkedin-square"></i>
            </a>
          {% endif %}

          {% if site.facebook_link %}
            <a href="{{ site.twitter_link }}" class="btn-group twitter">
              <i class="fa fa-twitter"></i>
            </a>
          {% endif %}

          {% if site.facebook_link %}
            <a href="{{ site.facebook_link }}" class="btn-group facebook">
              <i class="fa fa-facebook"></i>
            </a>
          {% endif %} -->

          <img src="{{ site.baseurl }}/assets/img/social-icons/wechat_group.jpg" style="width: 120px; margin-left: 30px;" alt="wechat-group">

        </div>
      </div>
    </div>
  </div>

  <div class="copyright text center">
    <p>&copy; Copyright {{ site.time | date: '%Y' }}　<a href="www.yongliangfan.com">永亮帆人力资源(天津)有限公司</a></p>
  </div>
</footer>
