<!-- Header -->
<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
  <div class="container">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand wow fadeInDownBig" href="{{ site.baseurl }}/index.html"><img class="office-logo" src="{{ site.baseurl }}/assets/img/slider/Office.png" alt="Office"></a>
  </div>

  <div id="navbar-spy" class="collapse navbar-collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav pull-right">
      <li>
        <a href="{{ site.baseurl }}/" {% if page.url == "/" %}class="active"{% endif %}>主页</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/about.html" {% if page.url == "/about" %}class="active"{% endif %}>关于</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/news.html" {% if page.url == "/news" %}class="active"{% endif %}>新闻</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/services/index.html" {% if page.url == "/services.html" %}class="active"{% endif %}>业务</a>
        <ul>
          <li><a href="{{ site.baseurl }}/services/workabroad/index.html">外派工作</a></li>
          <li><a href="{{ site.baseurl }}/services/studyabroad/index.html">出国留学</a></li>
          <li><a href="{{ site.baseurl }}/services/languagetraining/index.html">语言培训</a></li>
        </ul>
      </li>
      <li>
        <a href="{{ site.baseurl }}/team.html" {% if page.url == "/team" %}class="active"{% endif %}>团队</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/contact.html" {% if page.url == "/contact" %}class="active"{% endif %}><span>联系</span></a>
      </li>
    </ul>
  </div>
  </div>
</nav>

<!-- End Header -->
